<div data-hook="admin_inside_taxonomy_form">
  <%= f.field_container :name do %>
    <%= f.label :name, Spree.t(:name) %> <span class="required">*</span><br />
    <%= error_message_on :taxonomy, :name, :class => 'fullwidth title'  %>
    <%= text_field :taxonomy, :name  %>
  <% end %>
</div>

<p>
  <%= f.label :stores, Spree.t(:stores)%><br />

  <% Spree::Store.all.each do |store| %>
    <%= check_box_tag "taxonomy[store_ids][]", store.id, @taxonomy.stores.include?(store) %>
    <%= store.name %>
    <br />
  <% end %>
</p>

